body{
    background-color: rgba(255, 255, 255, 0.63);
}

.Container {
    background-color: rgba(128, 128, 128, 0.432);
    width: 500px;
    height: 300px;
    position: relative;
}

.img1 {
    position: relative;
    top: 10px;
    left: 10px;
}
